modal-endereco {
    #content-modal-endereco {
        background-image: url('../assets/imgs/background/background-1.jpg');
    }

    #iconBotao {
        margin-right: 5px;
        text-transform: none !important;
    }

    .footer {
        position:fixed;
        bottom:10px;
        height:50px;
    }

    #mensagemErro {
        color: red;
    }
}