page-barbearia-marcar-horario {

    #itemSelect {
        background-color: #000; 
        color: #fff
    }

    #imagemHorario {
        height: 60px;
        width: 60px;
        margin-top: 10px
    }

}
