modal-dia {
    #content-modal-dia {
        background-image: url('../assets/imgs/background/background-1.jpg');
    }

    .custom-popover .popover-content {
        width: 80% !important;
        top: 70px !important;
        left: 30px !important;
        bottom: 70px !important;
      }
}